<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%= urlName %> </title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome <%= userName %> </h1>
    <h3>You searched <%= urlName %> </h3>
    <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button><p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button><p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button><p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button><p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button><p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button><p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button><p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button><p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button><p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button><p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %>">GO</a></button>
      <br>
      <p> <%= urlName %> </p>
      <button class="btn btn primary" name="button"><a href="/ <%= urlName %> ">GO</a></button>
      <br>
  </body>
</html>
